increment_version.sh
welcome_images/
testbuild.sh
dockerhub_readme.md
hubpush.sh
avatar.png
dalle_image.png
welcomeCount.json
node_modules
npm-debug.log
.env
.git
*~
vrchat-jellyfin-logs.txt
watermark_noback.png
watermark.png
output.log
pfp*.png
.github/
