welcome_images/
helpers/testbuild.sh
helpers/hubpush.sh
avatar.png
dalle_image.png
data/welcomeCount.json
node_modules/
*.log
pids
*.pid
.env
docker-compose.yml
.DS_Store
Thumbs.db
.vscode/
.idea/
*~
readme_images/*Zone.Identifier
vrchat-jellyfin-logs.txt
temp.json
hello-dalle-discordbot.code-workspace
dist/
.env.test
watermark_noback.png
watermark.png
helpers/pfp*.png
testDescribeImage.*s
.dockerignore

# Scripts and local helpers
local_helpers/
local_helpers/scripts/
local_helpers/reset_prod_db.sh
tsconfig.tsbuildinfo
.pnpm-store/
symlinked.docker-compose.yml
.cursorrules
